# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# ML Artifacts (IMPORTANT)
artifacts/
*.pkl
*.joblib

# Environment variables
.env

# Build
build/
dist/
*.egg-info/

# Docker
*.tar

# Kubernetes secrets (if any)
*.secret.yaml

minikube-linux-amd64
